@import '../../styles/variables';

.pageBox {
  margin: 24px;
  padding: 30px 32px;
  overflow: auto;
}

.pageBoxWithColor {
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
