# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/coverage

# production
/build

# misc
.DS_Store
.idea
.VSCodeCounter

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# tencent dwt files
dwt-cases.yml
dwt-junit.xml
dwt-reporter.html
dwt-result.json
dwt-tmp-result
