.trendBox {
  .trendIcon {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }
}

.trendBox_up {
  color: #e34d59 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .trendIcon {
    background: #f9d7d9;
    margin-right: 8px;
  }
}

.trendBox_down {
  color: #00a870 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .trendIcon {
    background: #bcebdc;
    margin-right: 8px;
  }
}
.trendBox_dark {
  color: #ffffff !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .trendIcon {
    background: var(--td-brand-color-5);
    margin-right: 8px;
  }
}

.trendItem {
  margin-left: 8px;
}
