@card-prefix-cls: ~'td-card';

.clearfix() {
  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

.@{card-prefix-cls} {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: var(--td-bg-color-container);
  border-radius: 2px;

  &.@{card-prefix-cls}-borderd {
    border: 1px solid var(--td-border-level-2-color);
  }

  &-head {
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    background: 0 0;
    border-bottom: 1px solid var(--td-bg-color-secondarycontainer);
    border-radius: 2px 2px 0 0;
    .clearfix();

    &-wrapper {
      display: flex;
      align-items: center;
      .clearfix();
    }

    &-title {
      display: inline-block;
      flex: 1;
      padding: 16px 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--td-text-color-primary);;
      font-weight: 500;
      font-size: 20px;
    }

    &-extra {
      float: right;
      margin-left: auto;
      padding: 16px 0;
      color: var(--td-text-color-primary);
      font-weight: 400;
      font-size: 14px;
    }
  }

  &-body {
    padding: 24px;
    color: var(--td-text-color-primary);
    .clearfix();
  }

  &-actions {
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--td-bg-color-container);
    border-top: 1px solid var(--td-border-level-2-color);

    .clearfix();

    & > li {
      float: left;
      margin: 12px 0;
      color: var(--td-text-color-primary);
      text-align: center;
    }
  }

  &-grid {
    float: left;
    width: 33.33%;
    padding: 24px;
    border: 0;
    border-radius: 0;
    box-shadow: 1px 0 var(--td-border-level-2-color), 0 1px var(--td-border-level-2-color), 1px 1px var(--td-border-level-2-color), 1px 0 var(--td-border-level-2-color) inset, 0 1px var(--td-border-level-2-color) inset;
    transition: all .3s;

    &-hoverable {
      &:hover {
        position: relative;
        z-index: 1;
        box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f, 0 5px 12px 4px #00000017;
      }
    }

    &-0 {
      display: none;
    }

    &-1 {
      width: 8.3333333%;
    }

    &-2 {
      width: 16.66666667%;
    }

    &-3 {
      width: 25%;
    }

    &-4 {
      width: 33.33333333%;
    }

    &-5 {
      width: 41.66666667%;
    }

    &-6 {
      width: 50%;
    }

    &-7 {
      width: 58.33333333%;
    }

    &-8 {
      width: 66.66666667%;
    }

    &-9 {
      width: 75%;
    }

    &-10 {
      width: 83.33333333%;
    }

    &-11 {
      width: 91.66666667%;
    }

    &-12 {
      width: 100%;
    }
  }
}
