@card-prefix-cls: 'tdesign-card';

.clearfix() {
  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

.@{card-prefix-cls} {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: #fff;
  border-radius: 2px;

  &.@{card-prefix-cls}-borderd {
    border: 1px solid #f0f0f0;
  }

  &-head {
    display: flex;
    align-items: center;
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: #000000d9;
    font-weight: 500;
    font-size: 16px;
    background: 0 0;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
    .clearfix();

    &-title {
      display: inline-block;
      flex: 1;
      padding: 16px 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-extra {
      float: right;
      margin-left: auto;
      padding: 16px 0;
      color: #000000d9;
      font-weight: 400;
      font-size: 14px;
    }
  }

  &-body {
    padding: 24px;
  }

  &-actions {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border-top: 1px solid #f0f0f0;

    .clearfix();

    & > li {
      float: left;
      margin: 12px 0;
      color: #00000073;
      text-align: center;
    }
  }
}