.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--td-bg-color-container);
  padding: 30px 0 134px;
}

.baseForm {
  width: 70%;
}

.titleText {
  font-size: 20px;
  margin: 64px 0 32px;
}

.dateCol {
  :global {
    .t-form__controls-content {
      display: inline;
    }
  }
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--td-bg-color-component);
  padding: 30px 0 28px;
}

.buttonsBox {
  width: 140px;
  display: flex;
  justify-content: space-between;
}