.dashboardPanel {
  margin: 24px;
}

.rowContainer {
  margin-top: 16px;
}

.overviewPanel {
  background-color: var(--td-bg-color-container);
  border-radius: 3px;
}

.paneBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  .paneTop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    > span {
      display: inline-block;
      color: var(--td-text-color-primary);
      font-size: 30px;
      line-height: 44px;
    }
  }
  
  .paneSide {
    position: absolute;
    top: 32px;
    right: 32px;
  }
  
  .paneBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .bottomBar {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 22px;
      color: var(--td-text-color-placeholder);
    }
  }
}

.paneBoxDark {
  .paneTop > span {
    color: var(--td-text-color-anti);
  }
  .paneBottom .bottomBar {
    color: var(--td-text-color-anti);
    opacity: .6;
  }
}
