.dashboardPanel {
  margin: 24px;
}

.rowContainer {
  margin-top: 16px;
}

.overviewPanel {
  background-color: var(--td-bg-color-container);
  border-radius: 3px;
}

.paneBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  .paneTop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    > span {
      display: inline-block;
      color: var(--td-text-color-primary);
      font-size: 31px;
      line-height: 44px;
    }
  }
  
  .paneSide {
    position: absolute;
    top: 32px;
    right: 32px;
  }
  
  .paneBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .bottomBar {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 22px;
      color: var(--td-text-color-placeholder);
    }
  }

  .paneLineChart {
    width: 103px;
    height: 56px;
    margin-top: 22px;
    overflow: hidden;
  }
  .paneBarChart {
    width: 103px;
    height: 36px;
    margin-top: 24px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
  .iconWrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: var(--td-brand-color-1);
    border-radius: 50%;
  }
  .svgIcon {
    font-size: 24px;
    color: var(--td-brand-color);
  }
}

.paneBox_dark {
  .paneTop > span {
    color: var(--td-text-color-anti);
  }
  .paneBottom .bottomBar {
    color: var(--td-text-color-anti);
    opacity: .6;
  }
  .paneBottom {
    color: var(--td-text-color-anti);
  }
}

.rightMore {
  cursor: pointer;  
}

.rowContainer {
  .rankNO {
    display: inline-flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    background-color: var(--td-gray-color-5);
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  .rankNO_top {
    background: var(--td-brand-color);
  }
  .linkBtn {
    cursor: pointer;
    color: var(--td-text-color-primary);
  }
}
.overviewPanel .rightMore {
  display: none;
}
