@import '../styles/variables';

.mainBox {
  height: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row!important;
}

.rightContainer {
  flex: 1;
  min-width: 760px;
}

.headerBox {
  padding-left: 20px;
  padding-right: 20px;
}

.menuPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menuTip {
  color: rgba(255, 255, 255, 0.55);
  height: 38px;
  line-height: 38px;
  text-align: center;
}
